body {
	background: url("../images/red.jpg");
	font-size: 24px;
	line-height: 34px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
#container {
	text-align: center;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	background: #b5b5b5;
	height: 100%;
}
h1 {
	font-size: 40px;
	background: #3e3636;
	padding: 20px;
	margin-top: 0;
	color: white;
}
#instructions {
	width: 100%;
	max-width: 600px;
	margin-left: 110px;
	margin-top: 100px;
	line-height: 48px;
}
h2 {
	margin: 0;
}
#start {
	font-weight: bold;
	background: #3e3636;
	width: 125px;
	padding: 20px;
	left: 50px;
	margin: 0 auto;
	color: white;
	margin-top: 150px;
	margin-bottom: 50%;
	font-size: 32px;
}
#submit {
	font-weight: bold;
	background: #3e3636;
	width: 125px;
	padding: 20px;
	left: 50px;
	margin: 0 auto;
	color: white;
	margin-top: 40px;
	margin-bottom: 10px;
	font-size: 32px;
}
#results {
	margin-bottom: 50%;
}
.questions {
	text-align: left;
	padding: 20px;
}
#timer {
	text-align: center;
}
#timeOut {
	margin-bottom: 75%;
}